<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <main role="main" class="container">
      <div id="content">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="./" class="text-info">{{ page.session_title }}</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
            </ol>
          </nav>

        {{ content }}
      </div>
        {% include footer.html %}
    </main>

  </body>

  {% include scripts.html %}
  <script src="{{ '/js/outcomes-collapse.js' | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ '/js/term-hover.js' | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ '/js/tippy.standalone.min.js' | prepend: site.baseurl }}" type="text/javascript"></script>

</html>
